################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Wheelzy/FileContentIndex/2372e153-37ee-4251-a4a6-126d3b18022c.vsidx
/.vs/Wheelzy/FileContentIndex/f604c160-c9d4-4e77-8fac-a3106490ac4d.vsidx
